*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    min-height:100vh;
    padding:40px;
}
.container{

max-width:1000px;
margin:auto;
}

header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.title{

display:flex;
align-items:center;
gap:15px;
}

.icon{

width:55px;
height:55px;
background:#4a7dff;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-size:24px;
}

.title p{

color:gray;
}

.status{

display:flex;
gap:10px;
}

.status span{

padding:8px 15px;
border-radius:20px;
font-weight:bold;
}

.pending-count{

background:#fff3cd;
color:#c07b00;
}

.completed-count{

background:#d1fae5;
color:#0d8b4d;
}

.add-task{

background:white;
padding:25px;
border-radius:20px;
margin-bottom:30px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.input-box{

display:flex;
margin-top:15px;
gap:10px;
}

input{

flex:1;
padding:15px;
font-size:16px;
border-radius:12px;
border:1px solid #ddd;
}

button{

padding:15px 25px;
border:none;
background:#7da7ff;
color:white;
border-radius:12px;
font-size:16px;
cursor:pointer;
}

button:hover{

background:#4a7dff;
}

.task-section{

display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
}

.heading{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.heading span{

background:#f0f0f0;
padding:6px 12px;
border-radius:20px;
}

.list{

background:white;
border-radius:20px;
padding:20px;
min-height:350px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.empty{

text-align:center;
color:gray;
margin-top:100px;
}

.empty i{

font-size:60px;
margin-bottom:15px;
}

.task{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
border-bottom:1px solid #eee;
}

.left{

display:flex;
gap:15px;
align-items:center;
}

.left input{

width:20px;
height:20px;
}

.time{

font-size:13px;
color:gray;
margin-top:5px;
}

.completed{

text-decoration:line-through;
color:gray;
}

.delete{

background:red;
padding:8px 12px;
color:white;
border-radius:8px;
cursor:pointer;
}

@media(max-width:768px){

.task-section{

grid-template-columns:1fr;
}

header{

flex-direction:column;
gap:20px;
}

.input-box{

flex-direction:column;
}

button{

width:100%;
}

}
